<include file="public:header" />
	<notempty name="apply['Subsite']">
	<div class="seltpye_x">
	    <div class="left">所属分站</div>
	    <qscms:subsite 列表名="subsite_list"/>
	    <div class="right">
	      <a href="{:P(array('subsite_id'=>''))}" <if condition="$Think.get.subsite_id eq ''">class="select"</if>>不限</a>
	      <if condition="$visitor['role_id'] eq 1">
	        <volist name="subsite_list" id="subsite">
	          <a href="{:P(array('subsite_id'=>$subsite['s_id']))}" <if condition="$Think.get.subsite_id eq $subsite['s_id']">class="select"</if>>{$subsite.s_sitename}</a>
	        </volist>
	      <else/>
	        <volist name="subsite_list" id="subsite">
	          <if condition="in_array($subsite['s_id'],$visitor['subsite'])">
	            <a href="{:P(array('subsite_id'=>$subsite['s_id']))}" <if condition="$Think.get.subsite_id eq $subsite['s_id']">class="select"</if>>{$subsite.s_sitename}</a>
	          </if>
	        </volist>
	      </if>
	      <div class="clear"></div>
	    </div>
	    <div class="clear"></div>
	</div>
	</notempty>
	<div class="seltpye_x">
		<div class="left">完成状态</div>	
		<div class="right">
			<a href="{:P(array('is_paid'=>''))}" <if condition="$Think.get.is_paid eq ''">class="select"</if>>不限</a>
			<a href="{:P(array('is_paid'=>2))}" <if condition="$Think.get.is_paid eq '2'">class="select"</if>>已完成</a>
			<a href="{:P(array('is_paid'=>1))}" <if condition="$Think.get.is_paid eq '1'">class="select"</if>>待付款</a>
			<a href="{:P(array('is_paid'=>3))}" <if condition="$Think.get.is_paid eq '3'">class="select"</if>>已取消</a>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
  </div>
    <div class="seltpye_x">
		<div class="left">付款方式</div>	
		<div class="right">
			<a href="{:P(array('payment'=>''))}" <if condition="$Think.get.payment eq ''">class="select"</if>>不限</a>
			<a href="{:P(array('payment'=>'points'))}" <if condition="$Think.get.payment eq 'points'">class="select"</if>>{:C('qscms_points_byname')}支付</a>
			<volist name="payment_list" id="vo">
			<a href="{:P(array('payment'=>$vo['typename']))}" <if condition="$Think.get.payment eq $vo['typename']">class="select"</if>>{$vo['byname']}<if condition="$vo['typename'] eq 'remittance'"><span>({$count})</span></if></a>
			</volist>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
  </div>
    <div class="seltpye_x">
		<div class="left">订单类型</div>	
		<div class="right">
			<a href="{:P(array('type'=>''))}" <if condition="$Think.get.type eq ''">class="select"</if>>不限</a>
			<a href="{:P(array('type'=>'1'))}" <if condition="$Think.get.type eq '1'">class="select"</if>>升级套餐</a>
			<a href="{:P(array('type'=>'2'))}" <if condition="$Think.get.type eq '2'">class="select"</if>>充值{:C('qscms_points_byname')}</a>
			<a href="{:P(array('type'=>'6'))}" <if condition="$Think.get.type eq '6'">class="select"</if>>简历包</a>
			<a href="{:P(array('type'=>'7'))}" <if condition="$Think.get.type eq '7'">class="select"</if>>短信包</a>
			<a href="{:P(array('type'=>'8'))}" <if condition="$Think.get.type eq '8'">class="select"</if>>职位置顶</a>
			<a href="{:P(array('type'=>'9'))}" <if condition="$Think.get.type eq '9'">class="select"</if>>职位紧急</a>
			<a href="{:P(array('type'=>'10'))}" <if condition="$Think.get.type eq '10'">class="select"</if>>企业模板</a>
			<a href="{:P(array('type'=>'11'))}" <if condition="$Think.get.type eq '11'">class="select"</if>>诚聘通</a>
			<a href="{:P(array('type'=>'12'))}" <if condition="$Think.get.type eq '12'">class="select"</if>>预约刷新</a>
			<a href="{:P(array('type'=>'13'))}" <if condition="$Think.get.type eq '13'">class="select"</if>>单个职位刷新</a>
			<a href="{:P(array('type'=>'14'))}" <if condition="$Think.get.type eq '14'">class="select"</if>>单份简历下载</a>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
  </div>
  <div class="seltpye_x">
		<div class="left">添加时间</div>	
		<div class="right">
		<a href="{:P(array('settr'=>''))}" <if condition="$Think.get.settr eq ''">class="select"</if>>不限</a>
		<a href="{:P(array('settr'=>3))}" <if condition="$Think.get.settr eq 3">class="select"</if>>三天内</a>
		<a href="{:P(array('settr'=>7))}" <if condition="$Think.get.settr eq 7">class="select"</if>>一周内</a>
		<a href="{:P(array('settr'=>30))}" <if condition="$Think.get.settr eq 30">class="select"</if>>一月内</a>
		<a href="{:P(array('settr'=>180))}" <if condition="$Think.get.settr eq 180">class="select"</if>>半年内</a>
		<a href="{:P(array('settr'=>360))}" <if condition="$Think.get.settr eq 360">class="select"</if>>一年内</a>
		<div class="clear"></div>
		</div>
		<div class="clear"></div>
  </div>
  <form id="form1" name="form1" method="post" action="{:U('order_cancel')}">
  <table width="100%" border="0" cellpadding="0" cellspacing="0"  id="list" class="link_lan">
    <tr>
      <td  width="10%" class="admin_list_tit admin_list_first">
	   <label id="chkAll"><input type="checkbox" name=" " title="全选/反选" id="chk"/>全选</label></td>
      <td class="admin_list_tit" width="10%">金额</td>           
	  <td width="15%" class="admin_list_tit">公司名称</td>
	  <td width="10%" class="admin_list_tit">说明</td> 
	  <td align="center" class="admin_list_tit" width="190">单号</td>
	  <td width="10%" align="center" class="admin_list_tit">申请会员</td>
	  <td width="8%" align="center" class="admin_list_tit">申请时间</td>
      <td width="8%" align="center" class="admin_list_tit">支付方式</td>      
      <td width="15%" align="center"  class="admin_list_tit">操作</td>
    </tr>
	<volist name="list" id="vo">
      <tr>
      <td class="admin_list admin_list_first">	 
	  <if condition="$vo['is_paid'] eq 1">
	   <input name="id[]" type="checkbox" id="y_id" value="{$vo['id']}"  />
	  <span style="color: #FF6600">待付款...</span>
	  <elseif condition="$vo['is_paid'] eq 2" />
	  <input name="id[]" type="checkbox" id="y_id" value="{$vo['id']}" disabled="disabled"/>
		<span style="color: #009900;">已完成</span>
	  <else />
	  	<input name="id[]" type="checkbox" id="y_id" value="{$vo['id']}" disabled="disabled"/>
		<span style="color: #999;">已取消</span>
	  </if>
	   </td>
        <td class="admin_list">￥<strong>{$vo['amount']}</strong>元</td>        
		<td class="admin_list">
		<if condition="$vo['companyname']">
		{:cut_str($vo['companyname'],12,0,'..')}
		<else />
		未填写企业资料
		</if>
		</td>   
		<td class="admin_list">{$vo['service_name']}</td>     
		<td align="center" class="admin_list">{$vo['oid']}</td>
		<td align="center" class="admin_list">{$vo['username']}</td>
		<td align="center" class="admin_list">{:admin_date($vo['addtime'])}</td>    
        <td align="center" class="admin_list">{$vo['payment_cn']}</td>        
        <td align="center" class="admin_list">
        <if condition="$vo['is_paid'] eq 2 || $vo['is_paid'] eq 3">
		<a href="{:U('order_show',array('id'=>$vo['id']))}">查看</a>
		&nbsp;设置</if>
		&nbsp;<a class="userinfo"  parameter="uid={$vo['uid']}" href="javascript:void(0);" hideFocus="true">管理</a>
		<if condition="$vo['is_paid'] eq 1">
		&nbsp;<a href="{:U('order_set',array('id'=>$vo['id']))}">设置</a>&nbsp;
		<a href="{:U('order_cancel',array('id'=>$vo['id']))}" onclick="return confirm('你确定要取消吗？')">取消</a>
		</if>
	
		   
		</td>
      </tr>
      </volist>
  </table>
	<if condition="!$list">
	<div class="admin_list_no_info">没有任何信息！</div>
	</if>
  </form>
	<table width="100%" border="0" cellspacing="10" cellpadding="0" class="admin_list_btm">
      <tr>
        <td>
          <input name="ButAudit" type="button" class="admin_submit" id="ButDelOrder"  value="取消订单"  />
		</td>
        <td width="305" align="right">
		<form id="formseh" name="formseh" method="get" action="?">	
              <input type="hidden" name="m" value="{:C('admin_alias')}">
              <input type="hidden" name="c" value="{:CONTROLLER_NAME}">
              <input type="hidden" name="a" value="{:ACTION_NAME}">
			<div class="seh">
			    <div class="keybox"><input name="key" type="text"   value="{$Think.get.key}" /></div>
			    <div class="selbox">
					<input name="key_type_cn"  id="key_type_cn" type="text" value="{$Think.get.key_type_cn|default="公司名"}" readonly="true"/>
						<div>
								<input name="key_type" id="key_type" type="hidden" value="{$Think.get.key_type|default="1"}" />
												<div id="sehmenu" class="seh_menu">
														<ul>
														<li id="1" title="公司名">公司名</li>
														<li id="2" title="会员名">会员名</li>
														<li id="3" title="单号">单号</li>
														</ul>
												</div>
						</div>				
				</div>
				<div class="sbtbox">
				<input type="submit" name="" class="sbt" id="sbt" value="搜索"/>
				</div>
				<div class="clear"></div>
		  </div>
		  </form>
	    </td>
      </tr>
  </table>
<div class="qspage">{$page}</div>
</div>
<include file="public:footer" />

<script type="text/javascript">
$(document).ready(function()
{
	showmenu("#key_type_cn","#sehmenu","#key_type");
$(".userinfo").QSdialog({
  DialogTitle:"管理",
  DialogContentType:"url",
  DialogContent:"{:U('ajax/userinfo')}&"
  });
	//点击批量取消	
	$("#ButDelOrder").click(function(){
		if (confirm('你确定要取消吗？'))
		{
			$("form[name=form1]").submit()
		}
	});
		
});
</script>
</body>
</html>