<include file="public:header" />
    <div class="toptip">
        <h2>提示：</h2>
        <p>不同的运营阶段您可以选择不同的设置。</p>
    </div>
   
	<div class="toptit">审核状态设置</div>
	<form action="{:U('set_audit')}" method="post" enctype="multipart/form-data" name="form1" id="form1">
		<table width="100%" border="0" cellspacing="5" cellpadding="5">
			
		 
			<tr>
				<td width="220" align="right">修改企业资料后认证状态：</td>
				<td>
					<label><input name="audit_edit_com" type="radio" id="audit_edit_com" value="-1" <if condition="C('qscms_audit_edit_com') eq '-1'">checked="checked"</if>/>保持不变</label>
					&nbsp;&nbsp;&nbsp;&nbsp; 
					<label ><input type="radio" name="audit_edit_com" value="2" id="audit_edit_com" <if condition="C('qscms_audit_edit_com') eq 2">checked="checked"</if>/>重新认证</label>
					&nbsp;&nbsp;&nbsp;&nbsp; 
</td>
			</tr>
			 
			<tr>
				<td align="right">已认证企业修改职位后审核状态为：</td>
				<td>
					<label><input name="audit_verifycom_editjob" type="radio" id="audit_verifycom_editjob" value="-1" <if condition="C('qscms_audit_verifycom_editjob') eq '-1'">checked="checked"</if>/>保持不变</label>
					&nbsp;&nbsp;&nbsp;&nbsp; 

					<label><input name="audit_verifycom_editjob" type="radio" id="audit_verifycom_editjob" value="2" <if condition="C('qscms_audit_verifycom_editjob') eq 2">checked="checked"</if>/>重新审核</label>
</td>
			</tr>
			 
			<tr>
				<td align="right">未认证企业修改职位后审核状态为：</td>
				<td>
					<label><input name="audit_unexaminedcom_editjob" type="radio" id="audit_unexaminedcom_editjob" value="-1" <if condition="C('qscms_audit_unexaminedcom_editjob') eq '-1'">checked="checked"</if>/>保持不变</label>
					&nbsp;&nbsp;&nbsp;&nbsp; 
 
					<label><input name="audit_unexaminedcom_editjob" type="radio" id="audit_unexaminedcom_editjob" value="2" <if condition="C('qscms_audit_unexaminedcom_editjob') eq 2">checked="checked"</if>/>重新审核</label>
 	</td>
			</tr>
		 
			<tr>

				<td align="right">&nbsp;</td>
				<td height="50"> 
					<input name="submit" type="submit" class="admin_submit"    value="保存修改"/>				</td>
			</tr>
		</table>
	</form>
	 <div class="toptit">认证设置</div>
	 <form action="{:U('index')}" method="post" enctype="multipart/form-data" name="form1" id="form1">
		<table width="100%" border="0" cellspacing="5" cellpadding="5">
			<tr>
				<td width="220" align="right">强制企业认证手机：</td>
				<td>
					<label><input name="login_com_audit_mobile" type="radio" id="login_com_audit_mobile" value="1" <if condition="C('qscms_login_com_audit_mobile') eq 1">checked="checked"</if>/>是</label>
					&nbsp;&nbsp;&nbsp;&nbsp; 
					<label><input name="login_com_audit_mobile" type="radio" id="login_com_audit_mobile" value="0" <if condition="C('qscms_login_com_audit_mobile') eq 0">checked="checked"</if>/>否</label>
					<span class="admin_note" style="color: rgb(153, 153, 153);">如要设为强制认证手机需开启短信模块</span>				</td>
			</tr>
			<tr>
				<td align="right">强制企业营业执照：</td>
				<td>
					<label><input name="login_com_audit_certificate" type="radio" id="login_com_audit_certificate" value="1" <if condition="C('qscms_login_com_audit_certificate') eq 1">checked="checked"</if>/>是</label>
					&nbsp;&nbsp;&nbsp;&nbsp; 
					<label><input name="login_com_audit_certificate" type="radio" id="login_com_audit_certificate" value="0" <if condition="C('qscms_login_com_audit_certificate') eq 0">checked="checked"</if>/>否</label>				</td>
			</tr>
		 
			<tr>

				<td align="right">&nbsp;</td>
				<td height="50"> 
					<input name="submit" type="submit" class="admin_submit"    value="保存修改"/>				</td>
			</tr>
		</table>
	</form>
</div>
<include file="public:footer" />
</body>
</html>