<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<include file="public:meta" />
	<link href="../public/css/common.css" rel="stylesheet" type="text/css" />
	<link href="../public/css/resume.css" rel="stylesheet" type="text/css" />
	<script src="../public/js/jquery.common.js" type="text/javascript" language="javascript"></script>
	<qscms:load type="category" search="1"/>
	<if condition="C('SUBSITE_VAL.s_id') gt 0 and !$_GET['citycategory']">
		<qscms:classify 列表名="city" 类型="QS_citycategory" 地区分类="$subsite_val['s_district']" 显示数目="100"/>
	<else/>
		<qscms:classify 列表名="city" 类型="QS_citycategory" 地区分类="$_GET['citycategory']" 显示数目="100"/>
	</if>
</head>
<body>
<include file="public:header" />
<!--搜索 -->
<div class="page_so indexpage">
	<div class="sobox">
		<div class="selecttype">
		<if condition="C('qscms_resumesearch_key_first_choice') eq 1">
			<div class="J_sli sli <if condition="$Think.get.search_type eq 'precise' or $Think.get.search_type eq ''">select</if>" data-type="precise">精准</div>
			<div class="J_sli sli <if condition="$Think.get.search_type eq 'full'">select</if>" data-type="full">全文</div>
		<else />
		<div class="J_sli sli <if condition="$Think.get.search_type eq 'full' or $Think.get.search_type eq ''">select</if>" data-type="full">全文</div>
		<div class="J_sli sli <if condition="$Think.get.search_type eq 'precise'">select</if>" data-type="precise">精准</div>
		</if>
			<div class="clear"></div>
		</div>
		<div class="inputbg">
			<div id="showSearchModal" title="" class="selecttype J_hoverbut" data-title="请选择地区" data-multiple="false" data-maxnum="0" data-width="520">选择地区</div>
			<form id="ajax_search_location" action="{:U('ajaxCommon/ajax_search_location',array('type'=>'QS_resumelist'))}" method="get">
				<div class="inoputbox">
					<input name="key" type="text"  value="" placeholder="请输入关键字" />
					<input type="hidden" name="search_type" value="<if condition="C('qscms_resumesearch_key_first_choice') eq 1">precise<else />full</if>" />
					<input id="searchCityModalCode" type="hidden" name="citycategory" value="{$city['select']['citycategory']}" />
					<input id="recoverSearchCityModalCode" type="hidden" name="" value="" />
				</div>
				<input type="submit" class="sobut J_hoverbut" value="搜索" />
			</form>
		</div>
		<div class="clear"></div>
	</div>
    <div class="hotword link_gray9 font_gray9 nowrap">
    	您是不是想找：
    	<qscms:hotword 列表名="hotword_list" 显示数目="5"/>
    	<volist name="hotword_list" id="hotword">
    		<if condition="C('qscms_key_urlencode') eq 1">
			<a href="{:url_rewrite('QS_resumelist',array('key'=>urlencode($hotword['w_word_code'])))}">{$hotword.w_word}</a>
			<else />
			<a href="{:url_rewrite('QS_resumelist',array('key'=>$hotword['w_word_code']))}">{$hotword.w_word}</a>
			</if>
    	</volist>
    </div>
</div>
<qscms:classify 列表名="jobsCate" 类型="QS_jobs"/>
<div class="allclass_1 link_gray6">
	<if condition="C('qscms_category_jobs_level') eq 3">
		<volist name="jobsCate[0]" id="pcate">
			<volist name="jobsCate[$key]" id="scate">
				<div class="list">
					<div class="ll">
						<div class="t">
							<a href="{:url_rewrite('QS_resumelist',array('jobcategory'=>$scate['spell']))}"><strong>{$scate.categoryname}</strong></a>
						</div>
					</div>
					<div class="lr">
						<volist name="jobsCate[$key]" id="cate">
							<a href="{:url_rewrite('QS_resumelist',array('jobcategory'=>$cate['spell']))}" leibie="cantfwy">{$cate.categoryname}</a>
						</volist>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
			</volist>
		</volist>
	<else/>
		<volist name="jobsCate[0]" id="pcate">
			<div class="list">
				<div class="ll">
					<div class="t">
						<a href="{:url_rewrite('QS_resumelist',array('jobcategory'=>$pcate['spell']))}"><strong>{$pcate.categoryname}</strong></a>
					</div>
				</div>
				<div class="lr">
					<volist name="jobsCate[$key]" id="cate">
						<a href="{:url_rewrite('QS_resumelist',array('jobcategory'=>$cate['spell']))}" leibie="cantfwy">{$cate.categoryname}</a>
					</volist>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</volist>
	</if>
</div>
<include file="public:footer_min" />
<script type="text/javascript" src="../public/js/jquery.resumelist.js"></script>
<script type="text/javascript" src="../public/js/jquery.modal.search.js"></script>
<script type="text/javascript">
	var city_select = {:json_encode($city['select'])};
	var city_parent = {:json_encode($city['parent'])};
	if (city_parent) {
		if (app_spell) {
			$('#showSearchModal').text(city_parent['categoryname']);
			$('#recoverSearchCityModalCode').val(city_parent['spell']);
		} else {
			$('#showSearchModal').text(city_parent['categoryname']);
			$('#recoverSearchCityModalCode').val(city_parent['citycategory']);
		}
	} else if(city_select) {
		if (app_spell) {
			$('#showSearchModal').text(city_select['categoryname']);
			$('#recoverSearchCityModalCode').val(city_select['spell']);
		} else {
			$('#showSearchModal').text(city_select['categoryname']);
			$('#recoverSearchCityModalCode').val(city_select['citycategory']);
		}
	}
	$('.J_resumeIndexCategory').hover(function() {
		$(this).addClass('select').siblings().removeClass('select');
		var thisIndex = $('.J_resumeIndexCategory').index(this);
		$('.J_resumeIndexCategoryBox').eq(thisIndex).show().siblings('.J_resumeIndexCategoryBox').hide();
	});
</script>
</body>
</html>
