<include file="public:header" />
<div class="toptip link_g">
  <h2>提示：</h2>
  <p>
  骑士人才系统集成《极验》安全验证，用户仅需1.82秒即可完成验证，使用前必须获取<a href="http://www.geetest.com" target="_blank">极验密钥</a></p>
</div>
<div class="toptit">PC端极验设置</div>
    <form id="form1" name="form1" method="post"   action="{:U('safety/index')}" >
	  <table width="100%" border="0" cellpadding="4" cellspacing="0"   >
    <tr>
      <td width="120" height="30" align="right"  >开启验证：</td>
      <td > <label><input type="radio" class="J_type" name="captcha_open" id="J_type_open" value="1" <if condition="C('qscms_captcha_open') eq '1'">checked="checked"</if>/>开启</label>
         &nbsp;&nbsp;&nbsp;&nbsp; 
       <label ><input type="radio" class="J_type" name="captcha_open" id="job_mode_2" value="0" <if condition="C('qscms_captcha_open') eq '0'">checked="checked"</if>/>关闭</label>
       </td>
     </tr>
  </table>
  <table width="100%" border="0" cellpadding="4" cellspacing="0"  class="captcha_show">
    <tr>
      <td width="120" height="30" align="right"  >极验ID：</td>
      <td  ><input name="captcha[id]" type="text" class="input_text_300" value="{:C('qscms_captcha.id')}"/>
       </td>
    </tr>
     <tr>
      <td width="120" height="30" align="right"  >极验KEY：</td>
      <td  ><input name="captcha[key]" type="text" class="input_text_300" value="{:C('qscms_captcha.key')}"/>
       </td>
    </tr>
  </table>
   <table width="100%" border="0" cellpadding="4" cellspacing="0"   >
    
    <tr>
      <td width="120" height="30" align="right"  >&nbsp;</td>
      <td height="50"  > 
            <input name="submit3" type="submit" class="admin_submit"    value="保存"/>
      </td>
    </tr>
  
  </table>
    </form>
<div class="toptit captcha_show">验证项目</div>
    <form id="form2" name="form2" method="post"   action="{:U('safety/index')}" >
  <table width="100%" border="0" cellpadding="4" cellspacing="0"   class="captcha_show" >
    <tr>
      <td width="120" height="30" align="right"  >注册验证：</td>
      <td  >
       <label><input name="captcha_config[varify_reg]" type="radio" value="1" <if condition="C('qscms_captcha_config.varify_reg') eq 1">checked</if>/> 开启</label>
       <label><input name="captcha_config[varify_reg]" type="radio" value="0" <if condition="C('qscms_captcha_config.varify_reg') eq 0">checked</if>/> 关闭</label>
       <span class="admin_note" >（开启后，用户在注册时发起验证）</span>
       </td>
    </tr>
  <tr>
      <td width="120" height="30" align="right"  >手机验证：</td>
      <td  >
       <label><input name="captcha_config[varify_mobile]" type="radio" value="1" <if condition="C('qscms_captcha_config.varify_mobile') eq 1">checked</if>/> 开启</label>
       <label><input name="captcha_config[varify_mobile]" type="radio" value="0" <if condition="C('qscms_captcha_config.varify_mobile') eq 0">checked</if>/> 关闭</label>
       <span class="admin_note" >（开启后，用户在注册、验证手机号发送短信时发起验证）</span>
       </td>
    </tr>
  <tr>
      <td width="120" height="30" align="right"  >意见/建议：</td>
      <td  >
       <label><input name="captcha_config[varify_suggest]" type="radio" value="1" <if condition="C('qscms_captcha_config.varify_suggest') eq 1">checked</if>/> 开启</label>
       <label><input name="captcha_config[varify_suggest]" type="radio" value="0" <if condition="C('qscms_captcha_config.varify_suggest') eq 0">checked</if>/> 关闭</label>
       <span class="admin_note" >（开启后，用户在提交意见建议时发起验证）</span>
       </td>
    </tr>
    <tr>
      <td width="120" height="30" align="right"  >会员登录：</td>
      <td  >
	  <input name="captcha_config[user_login]" type="text" class="input_text_100" value="{:C('qscms_captcha_config.user_login')}"/> 次
	  <span class="admin_note" >（填写数字，0为开启验证码，如设置为3，则错误3次才发起验证）</span>
       </td>
    </tr>
     <tr>
      <td width="120" height="30" align="right"  >后台登录：</td>
      <td  ><input name="captcha_config[admin_login]" type="text" class="input_text_100" value="{:C('qscms_captcha_config.admin_login')}"/> 次
	  <span class="admin_note" >（填写数字，0为开启验证码，如设置为3，则错误3次才发起验证）</span>
       </td>
    </tr>
    
    <tr>
      <td height="30" align="right"  >&nbsp;</td>
      <td height="50"  > 
            <input name="submit3" type="submit" class="admin_submit"    value="保存"/>
    
       </td>
    </tr>
  
  </table>
    </form>
  </div>
  
<include file="public:footer" />
<script src="http://static.geetest.com/static/tools/gt.jss"></script>
<script type="text/javascript">
  $(".J_type").click(function(){
    if($("#J_type_open").is(':checked')){
      $(".captcha_show").show();
    }else{
      $(".captcha_show").hide();
    }
  });
  $("#btnCheck").click(function(){
    $("#test").show();
  });
      
<if condition="C('qscms_captcha_open') eq 0">
  $(".captcha_show").hide();
</if>
</script>
</body>
</html>