<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<include file="public:meta" />
	<link href="../public/css/common.css" rel="stylesheet" type="text/css" />
	<link href="../public/css/notice.css" rel="stylesheet" type="text/css" />
	<script src="../public/js/jquery.common.js" type="text/javascript" language="javascript"></script>
</head>
<body>
<include file="public:header" />

<div class="notice">
  <div class="pl">
  
    <div class="main">
	  <div class="tit link_gray6"><a href="{:url_rewrite('QS_index')}">网站首页</a><span>></span><a href="{:url_rewrite('QS_noticelist')}">网站公告</a> 
	  </div>
	  <qscms:notice_list 列表名="list" 分页显示="1" 填补字符="..."/>
	  <notempty name="list['list']">
	  <volist name="list['list']" id="vo">
      <div class="nli link_gray6">
        <div class="t substring"><a href="{$vo['url']}">{$vo['title_']}</a></div>
		  <div class="time">{:date('Y-m-d',$vo['addtime'])}</div>
		  <div class="summary link_blue">{$vo['briefly']}<a href="{$vo['url']}">[查看全文]</a></div>
	  </div>
	  </volist>
	  <div class="qspage">{$list['page']}</div>
	  <else />
	  <div class="list_empty_group">
			<div class="list_empty">
				<div class="list_empty_left"></div>
				<div class="list_empty_right">
					<div class="sorry_box">对不起，暂无相关网站公告！</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		</notempty>
    </div>
	
  </div>
  <div class="pr">
 
  <div class="lisbox">
	  <div class="t">最新职位</div>
	  <qscms:jobs_list 显示数目="5"/>
	  <notempty name="list['list']">
      <volist name="list['list']" id="vo">
	 	<div class="yl">
			 <div class="pic"><a href="{$vo['company_url']}" target="_blank"><img src="{$vo['logo']}" border="0"/></a></div>
			<div class="txts link_gray6">
				 <div class="t1 substring"><a href="{$vo['company_url']}" target="_blank">{$vo['companyname_']}</a></div>
				 <div class="t2 substring"><a href="{$vo['jobs_url']}" target="_blank">{$vo['jobs_name_']}</a></div>
				 {$vo['wage_cn']}
			</div>	
			<div class="clear"></div>
	  	</div>
	  	</volist>
	  	<else />
	  	<div class="empty">暂无相关职位</div>
		</notempty>
  </div>
  
  <!--紧急招聘 -->
  <div class="lisbox link_gray6">
	  <div class="t">紧急招聘</div>
	  <qscms:jobs_list 显示数目="5" 紧急招聘="1"/>
	  <notempty name="list['list']">
      <volist name="list['list']" id="vo">
 	  <div class="eyl">
		 <div class="jname substring"><a href="{$vo['jobs_url']}" target="_blank">{$vo['jobs_name_']}</a></div>
		 <div class="city substring">{$vo['wage_cn']}</div>
			<div class="clear"></div>
                <div class="etxt substring"><a href="{$vo['company_url']}" target="_blank">{$vo['companyname_']}</a></div>
			 <div class="etxt substring">{$vo['district_cn']}</div>
 	  </div>
		</volist>
	  	<else />
	  	<div class="empty">暂无相关职位</div>
		</notempty>
  </div>
  </div>
  <div class="clear"></div>
</div>

<include file="public:footer_min" />
</body>
</html>
