<include file="public:header" />
  <div class="toptit">修改企业资料 - <span style="color:#0066CC">{$info.companyname}</span></div>
  <form id="Form1" name="Form1" method="post" action="{:U('company/edit_company')}" >
    <table width="100%" border="0" cellpadding="4" cellspacing="0"   >
      <tr>
        <td height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed">所属会员：</td>
        <td  style=" border-bottom:1px #CCCCCC dashed">
          {$info['user']['username']}
        </td>
      </tr>
      <tr>
        <td height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed">添加时间：</td>
        <td  style=" border-bottom:1px #CCCCCC dashed">
          {$info['addtime']|date="Y-m-d",###}
        </td>
      </tr>
      <tr>
        <td height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed">添加方式：</td>
        <td  style=" border-bottom:1px #CCCCCC dashed">
          <if condition="$info['robot'] eq '0'">人工</if>
          <if condition="$info['robot'] eq '1'">采集</if>
        </td>
      </tr>
      <tr>
        <td height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed">营业执照：</td>
        <td  style=" border-bottom:1px #CCCCCC dashed" class="link_lan">
          <if condition="$info['certificate_img']">
          <a href="{:attach($info['certificate_img'],'certificate_img')}" target="_blank" title="点击查看"> 已上传</a>
          <else />
          未上传
          </if>
        </td>
      </tr>
      <tr>
        <td height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed"> 认证状态：</td>
        <td  style=" border-bottom:1px #CCCCCC dashed">
          <label><input name="audit"  type="radio" value="1" <if condition="$info['audit'] eq '1'">checked="checked"</if> />认证通过</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <label><input name="audit"  type="radio" value="2" <if condition="$info['audit'] eq '2'">checked="checked"</if> />等待认证</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <label><input name="audit"  type="radio" value="3" <if condition="$info['audit'] eq '3'">checked="checked"</if> />认证未通过</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <label><input name="audit"  type="radio" value="0" <if condition="$info['audit'] eq '0'">checked="checked"</if> />未认证</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
      </tr>
      
      <tr>
        <td width="110" height="30" align="right"   style=" border-bottom:1px #CCCCCC dashed"><span style="color:#FF3300; font-weight:bold">*</span>公司名称：</td>
        <td  style=" border-bottom:1px #CCCCCC dashed"><input name="companyname" type="text" class="input_text_200" id="companyname" maxlength="30"  style="width:350px;" value="{$info.companyname}" /></td>
      </tr>
      <tr>
        <td height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed"><span style="color:#FF3300; font-weight:bold">*</span>企业性质：</td>
        <td  style=" border-bottom:1px #CCCCCC dashed">
          <div>
            <input type="text" value="{$info.nature_cn|default="请选择"}"  readonly="readonly" name="nature_cn" id="nature_cn" class="input_text_200 input_text_selsect"/>
            <input name="nature" id="nature" type="hidden" value="{$info.nature}" />
            <div id="menu1" class="menu">
              <ul>
                <volist name="category['QS_company_type']" id="list">
                  <li id="{$key}" title="{$list}">{$list}</li>
                </volist>
              </ul>
            </div>
          </div>
          
        </td>
      </tr>
      <tr>
        <td height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed"><span style="color:#FF3300; font-weight:bold;">*</span>所属行业：</td>
        <td  style=" border-bottom:1px #CCCCCC dashed">
          <div>
            <input type="text" value="{$info.trade_cn|default="请选择"}"  readonly="readonly" name="trade_cn" id="trade_cn" class="input_text_200 input_text_selsect"/>
            <input name="trade" id="trade" type="hidden" value="{$info.trade}" />
            <div id="menu2" class="dmenu shadow">
              <ul>
                <volist name="category['QS_trade']" id="trade">
                  <li id="{$key}" title="{$trade}">{$trade}</li>
                </volist>
              </ul>
            </div>
          </div>
          
        </td>
      </tr>
      <tr>
        <td height="30" align="right" style=" border-bottom:1px #CCCCCC dashed"><span style="color:#FF3300; font-weight:bold">*</span>所在地区：</td>
        <td  style=" border-bottom:1px #CCCCCC dashed">
          <div>
            <input type="text" value="{$info.district_cn|default="请选择"}"  readonly="readonly" name="district_cn" id="district_cn" data-title="请选择工作地区" data-multiple="false" data-maxnum="0" <if condition="C('qscms_category_district_level') gt 2">data-width="667"<else/>data-width="520"</if> data-category="{:C('qscms_category_district_level')}" class="input_text_200 input_text_selsect J_resuletitle_city"/>
            <input class="J_resultcode_city" name="districtcategory" id="districtcategory" type="hidden" value="{$info.district}.{$info.sdistrict}.{$info.tdistrict}" />
          </div>
          
        </td>
      </tr>
      <tr>
        <td height="30" align="right" style=" border-bottom:1px #CCCCCC dashed"><span style="color:#FF3300; font-weight:bold">*</span>公司规模：</td>
        <td  style=" border-bottom:1px #CCCCCC dashed">
          <div>
            <input type="text" value="{$info.scale_cn|default="请选择"}"  readonly="readonly" name="scale_cn" id="scale_cn" class="input_text_200 input_text_selsect"/>
            <input name="scale" id="scale" type="hidden" value="{$info.scale}" />
            <div id="menu4" class="menu">
              <ul>
                <volist name="category['QS_scale']" id="scale">
                  <li id="{$key}" title="{$scale}">{$scale}</li>
                </volist>
              </ul>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed">注册资金：</td>
        <td  style=" border-bottom:1px #CCCCCC dashed"><input name="registered" type="text" class="input_text_200" id="registered" maxlength="5" value="{$info.registered}"  style="width:80px;" onKeyUp="if(event.keyCode !=37 && event.keyCode != 39) value=value.replace(/\D/g,'');"onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/\D/g,''))"/>
        万
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label>
          <input name="currency" type="radio" value="人民币"  <if condition="$info['currency'] eq '' || $info['currency'] eq '万人民币'"> checked="checked"</if> />
        人民币</label>
        &nbsp;&nbsp;&nbsp;
        <label>
          <input type="radio" name="currency" value="美元" <if condition="$info['currency'] eq '万美元'"> checked="checked"</if>/>
        美元</label>    </td>
      </tr>
       <tr>
          <td height="30" align="right" bgcolor="#FFFFFF" style=" border-bottom:1px #CCCCCC dashed">企业福利：</td>
          <td bgcolor="#FFFFFF" style=" border-bottom:1px #CCCCCC dashed">
     
     <div>
      <input type="text" value="{$tagStr['cn']|default="请选择"}"  readonly="readonly" name="tag" id="tag" data-title="请选择职位亮点" data-multiple="true" data-maxnum="6" data-width="582" class="input_text_300 input_text_selsect J_resuletitle_jobtag"/>
      <input class="J_resultcode_jobtag" name="tag" id="tag" type="hidden" value="{$tagStr['id']}" />
      </div>
      </td>
            </tr>
      <tr>
        <td height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed"><span style="color:#FF3300; font-weight:bold">*</span>联 系 人：</td>
        <td  style=" border-bottom:1px #CCCCCC dashed">
          <input name="contact" type="text" class="input_text_200" id="contact" maxlength="25" value="{$info.contact}"/>
          <label><input name="contact_show"  type="checkbox" value="1" <if condition="$info['contact_show'] eq '1'">checked="checked"</if> />联系人在企业详细页中显示
        </td>
      </tr>
      <tr>
        <td height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed"><span style="color:#FF3300; font-weight:bold">*</span>联系电话：</td>
        <td  style=" border-bottom:1px #CCCCCC dashed">
          <input name="telephone" type="text" class="input_text_200" id="telephone" maxlength="25" value="{$info.telephone}"/>
          <label><input name="telephone_show"  type="checkbox" value="1" <if condition="$info['telephone_show'] eq '1'">checked="checked"</if> />联系电话在企业详细页中显示
        </td>
      </tr>
        <tr>
        <td height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed">固定电话：</td>
        <td  style=" border-bottom:1px #CCCCCC dashed">
          <input type="text" id="landline_tel_first" name="landline_tel_first" class="input_text_50" style="width:40px;" maxlength="4"   value="{$info['landline_tel_first']}"/>&nbsp;-
          <input id="landline_tel_next" name="landline_tel_next" type="text" class="input_text_100" style="width:90px;" maxlength="11"   value="{$info['landline_tel_next']}"/>&nbsp;-
          <input id="landline_tel_last" name="landline_tel_last" type="text" class="input_text_50" style="width:40px;" maxlength="6"   value="{$info['landline_tel_last']}"/> <label><input name="landline_tel_show"  type="checkbox" value="1" <if condition="$info['landline_tel_show'] eq 1">checked="checked"</if> />固定电话在企业详细页中显示</label>
        </td>
        <td>&nbsp;</td>
        </tr>
      <tr>
        <td height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed"><span style="color:#FF3300; font-weight:bold">*</span>联系邮箱：</td>
        <td  style=" border-bottom:1px #CCCCCC dashed">
          <input name="email" type="text" class="input_text_200" id="email" maxlength="25" value="{$info.email}"/>
          <label><input name="email_show"  type="checkbox" value="1" <if condition="$info['email_show'] eq '1'">checked="checked"</if> />联系邮箱在企业详细页中显示
        </td>
      </tr>
      <tr>
        <td height="30" align="right" style=" border-bottom:1px #CCCCCC dashed">公司网址：</td>
        <td  style=" border-bottom:1px #CCCCCC dashed"><input name="website" type="text" class="input_text_200" id="website" maxlength="80" value="{$info.website}"/></td>
      </tr>
      <tr>
        <td height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed"><span style="color:#FF3300; font-weight:bold">*</span>通讯地址：</td>
        <td  style=" border-bottom:1px #CCCCCC dashed">
          <input name="address" type="text" class="input_text_200" id="address" maxlength="80"  style="width:447px;" value="{$info.address}"/>
        </td>
      </tr>
      <tr>
        <td align="right" valign="top"  style=" border-bottom:1px #CCCCCC dashed">
          <span style="color:#FF3300; font-weight:bold">*</span> 公司介绍：
        </td>
        <td style=" border-bottom:1px #CCCCCC dashed"><textarea name="contents" class="company_mb_textarea" id="introduction" style="width:450px; height:150px;"onpropertychange="if(this.value.length&gt;2000){this.value=this.value.slice(0,2000)}">{$info.contents}</textarea>
          <br />
          <div style="line-height:30px; height:30px;"> <span style="color:#333333">请将字数控制在2000字以内进行填写</span></div>
          </td>
      </tr>
      <tr>
        <td height="30" align="right"   >&nbsp;</td>
        <td height="120"   >
          <input type="hidden" name="id"  value="{$info.id}" />
          <input type="hidden" name="uid"  value="{$info.uid}" />
          <input type="hidden" name="_k_v" value="{$Think.get._k_v}">
          <input name="submit3" type="submit" class="admin_submit"    value="保存修改"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input name="submit22" type="button" class="admin_submit"    value="返 回" onclick="history.go(-1)"/>
        </span></td>
      </tr>
    </table>
  </form>
  
    </div>
<include file="public:footer" />
<qscms:load type="category"/>
<script type="text/javascript" src="../public/js/jquery.modal.userselectlayer.js"></script>
<script type="text/javascript">
$(document).ready(function()
{
  showmenu("#nature_cn","#menu1","#nature");
  showmenu("#trade_cn","#menu2","#trade");
    showmenu("#scale_cn","#menu4","#scale");
});
</script>
</body>
</html>