<include file="public:header" />
  <div class="toptip">
    <h2>提示：</h2>
    <p>
      重置顾问是指：对已有顾问企业会员删除其顾问并进行重新设置。<br />
    </p>
  </div>
  <div class="toptip">
    <h2>顾问姓名：{$consultant.name}&nbsp;&nbsp;&nbsp;&nbsp;顾问QQ：{$consultant.qq}</h2>
  </div>
  <form id="form1" name="form1" method="post" action="{:U('resetting')}">
    <table width="100%" border="0" cellpadding="0" cellspacing="0"  id="list" class="link_lan">
      <tr>
        <td  class="admin_list_tit admin_list_first" >
          <label id="chkAll"><input type="checkbox" name=" " title="全选/反选" id="chk"/>用户名</label></td>
          <td  class="admin_list_tit">email</td>
          <td  class="admin_list_tit">手机</td>
          <td  class="admin_list_tit">企业信息</td>
          <td width="13%"   align="center"   class="admin_list_tit">注册时间</td>
          <td width="13%"   align="center"   class="admin_list_tit">最后登录时间</td>
          <td width="13%"  align="center"  class="admin_list_tit" >操作</td>
        </tr>
        <volist name="list" id="vo">
        <tr>
          <td class="admin_list admin_list_first">
            <input name="uid[]" type="checkbox"  value="{$vo.uid}"/>{$vo.username}
          </td>
          <td class="admin_list">
            {$vo.email}
            <if condition="$vo['email_audit'] eq '1'"><span style="color:#009900">[验]</span></if>
           <span class="emailtip ajax_send_email" title="发送邮件" parameter="email={$vo['email']}&uid={$vo['uid']}">&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </td>
          <td  class="admin_list">
          {$vo.mobile}
            <if condition="$vo['mobile']"><span class="smstip ajax_send_sms" title="发送短信" parameter="mobile={$vo['mobile']}&uid={$vo['uid']}">&nbsp;&nbsp;&nbsp;&nbsp;</span><else />未填写</if>
            <if condition="$vo['mobile_audit'] eq '1'"><span style="color:#009900">[验]</span></if>
          </td>
          <td class="admin_list">
            <if condition="$vo['trade']">
            <a href="{:url_rewrite('QS_companyshow',array('id'=>$vo['id']))}" target="_blank">{$vo.companyname}</a>
            <else /><span style="color: #999999">未完善企业资料</span>
            </if>
          </td>
          <td align="center" class="admin_list">
            {:admin_date($vo['reg_time'])}
          </td>
          <td align="center" class="admin_list">
            <if condition="$vo['last_login_time']">
            {:admin_date($vo['last_login_time'])}
            <else />
            从未登录
            </if>
          </td>
          <td align="center" class="admin_list">
            <a href="{:U('resetting',array('uid'=>$vo['uid']))}"  id="{$vo.uid}">重置</a>
          </td>
        </tr>
        </volist>
      </table>
      <span id="OpAudit"></span>
      <span id="OpTalent"></span>
      <span id="OpPhotoresume"></span>
    </form>
    <if condition="!$list">
    <div class="admin_list_no_info">没有任何信息！</div>
    </if>
    <table width="100%" border="0" cellspacing="10" cellpadding="0" class="admin_list_btm">
      <tr>
        <td>
          <input name="ButResetting" type="button" class="admin_submit" id="ButResetting"    value="重置"  />
        </td>
        <td width="305" align="right">
        <form id="formseh" name="formseh" method="get" action="?">
              <input type="hidden" name="m" value="{:C('admin_alias')}">
              <input type="hidden" name="c" value="{:CONTROLLER_NAME}">
              <input type="hidden" name="a" value="{:ACTION_NAME}">
              <input type="hidden" name="id" value="{$Think.get.id}">
          <div class="seh">
            <div class="keybox"><input name="key" type="text"   value="{$Think.get.key}" /></div>
            <div class="selbox">
              <input name="key_type_cn"  id="key_type_cn" type="text" value="{$Think.get.key_type_cn|default="公司名"}" readonly="true"/>
              <div>
                <input name="key_type" id="key_type" type="hidden" value="{$Think.get.key_type|default="1"}" />
                <div id="sehmenu" class="seh_menu">
                  <ul>
                    <li id="1" title="公司名">公司名</li>
                    <li id="2" title="公司id">公司id</li>
                    <li id="3" title="会员名">会员名</li>
                    <li id="4" title="会员id">会员id</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="sbtbox">
              <input type="submit" name="" class="sbt" id="sbt" value="搜索"/>
            </div>
            <div class="clear"></div>
          </div>
        </form>
      </td>
      </tr>
    </table>
    <div class="qspage">{$page}</div>
  </div>
  <div id="AuditSet" style="display: none" >
  </div>
<include file="public:footer" />

<script type="text/javascript">
$(document).ready(function()
{
  showmenu("#key_type_cn","#sehmenu","#key_type");
  $(".ajax_send_sms").QSdialog({
    DialogTitle:"发送短信",
    DialogContentType:"url",
    DialogContent:"{:U('Ajax/ajax_send_sms')}&"
    });
  $(".ajax_send_email").QSdialog({
    DialogTitle:"发送邮件",
    DialogContentType:"url",
    DialogContent:"{:U('Ajax/ajax_send_email')}&"
    });
  //点击批量重置顾问
$("#ButResetting").click(function(){
$("form[name=form1]").submit();
});
});
</script>
</body>
</html>