<include file="public:header" />
  <div class="toptip">
        <h2>提示：</h2>
         <p>短信包只有在网站设置短信费用承担方为企业时才能生效，费用承担方为运营者则短信包不会被显示<br />

 修改短信费用承担方请在“企业>企业设置>基本> 其他设置”中修改。<br />
</p>
    </div>
<div class="toptit">新增服务套餐</div>
<volist name="unit_arr" id="vo">
<input type="hidden" class="unit_{$key}" value="{$vo}">
</volist>
    <form id="form1" name="form1" method="post" action="{:U('setmealIncrement/add')}">
    <table width="800" border="0" cellpadding="3" cellspacing="3">
      <tr>
        <td width="120" align="right">套餐名称：</td>
        <td width="391"><input name="name" type="text" class="input_text_200" id="name" value=""/></td>
      </tr>
      <tr>
        <td align="right">类型：</td>
        <td>
        <volist name="cate_arr" id="vo">
        <label><input name="cat" type="radio" value="{$key}" <if condition="$i eq 1">checked="checked"</if> />{$vo}</label> &nbsp;&nbsp;&nbsp;
        </volist>
        </td>
      </tr>
      <tr>
        <td align="right">服务<span class="unit">条</span>数：</td>
        <td><input name="value" type="text" class="input_text_200" id="value" maxlength="10" value=""/> <span class="unit"> 条</span>
        </td>
      </tr>
      <tr>
        <td align="right">价格：</td>
        <td><input name="price" type="text" class="input_text_200" id="price" maxlength="10" value=""/>
        元 <span class="admin_note">(0表示免费) </span></td>
      </tr>

      <tr>
        <td align="right">排序：</td>
        <td><input name="sort" type="text" class="input_text_50" id="sort" maxlength="10" value=""/>
         <span class="admin_note">(数字越大越靠前) </span></td>
      </tr>

      <tr>
        <td align="center">&nbsp;</td>
        <td height="50" align="left"><input type="submit" name="Submit3" value="提交" class="admin_submit"   />
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <input name="submit22" type="button" class="admin_submit"    value="返 回" onclick="Javascript:window.history.go(-1)"/>
    </td>
      </tr>
    </table>
  
    </form>
    </div>
<include file="public:footer" />
<script type="text/javascript">
  $(document).ready(function(){
    $(".unit").html($('.unit_'+$("input[name='cat']:checked").val()).val());
    $("input[name='cat']").click(function(){
      $(".unit").html($('.unit_'+$(this).val()).val());
    });
  });
</script>
</body>
</html>