<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<include file="public:meta" />
	<link href="../public/css/personal/common.css" rel="stylesheet" type="text/css" />
	<link href="../public/css/personal/personal_resume.css" rel="stylesheet" type="text/css" />
	<link href="../public/css/personal/personal_ajax_dialog.css" rel="stylesheet" type="text/css" />
	<script src="../public/js/personal/jquery.common.js" type="text/javascript" language="javascript"></script>
	<script src="../public/js/jquery.cookie.js" type="text/javascript" language="javascript"></script>
</head>
<body>
<include file="index_header" />
<div class="res_add_save">
  <div class="tit font_blue">
  请继续完善简历，好工作近在咫尺
  </div>
  <div class="ltn">
  简历完整度
  </div>  
  <div class="rtn">
		<div class="t1box">
		  	<div class="td1 font_gray6">企业看重这些信息，建议您进行补充</div>
			<div class="td2"><a href="{:U('personal/resume_edit',array('pid'=>$resume['id'],'make'=>1))}" class="but_yellow_115 J_hoverbut">填写工作经验</a></div>
			<div class="td3"><a href="{:U('personal/resume_edit',array('pid'=>$resume['id'],'make'=>1))}"  class="but_yellow_115 J_hoverbut" >填写教育背景</a></div>
			<div class="clear"></div>
		</div>
		<div class="t2box">
			<div class="td1 font_gray6">您也可以直接去搜索合适的职位了</div>
			<div class="td2"><a href="{:url_rewrite('QS_jobs')}" class="but_blue_115 J_hoverbut">搜索职位</a></div>
			<div class="clear"></div>
		</div>
        <div class="t3box link_blue"><a href="{:U('personal/index')}">会员中心</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{:U('personal/resume_list')}">简历列表</a>&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="{:url_rewrite('QS_resumeshow',array('id'=>$resume['id'],'preview'=>1))}">预览简历</a></div>
  </div>
  <div class="clear"></div>
</div>
<include file="index_footer" />
<script type="text/javascript">
	$(document).ready(function(){
		var add_tag = parseInt("{$add_tag}");
		if(add_tag==1){
			$.cookie("add_tag",0);
			var url = "{:U('PersonalService/resume_tag')}";
			var resume_id = "{$Think.get.pid}";
			$.getJSON(url,{resume_id:resume_id},function(result){
				$(this).dialog({
	        		title: '简历标签',
	        		loading:false,
	        		content:result.msg,
					showFooter: false
				});
			});
		}
	});
</script>
</body>
</html>