<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<include file="public:meta" />
	<link href="../public/css/common.css" rel="stylesheet" type="text/css" />
	<link href="../public/css/common_ajax_dialog.css" rel="stylesheet" type="text/css" />
	<link href="../public/css/jobs.css" rel="stylesheet" type="text/css" />
	<script src="../public/js/jquery.common.js" type="text/javascript" language="javascript"></script>
	<qscms:load type="category" search="1"/>
	<if condition="C('SUBSITE_VAL.s_id') gt 0 and !$_GET['citycategory']">
		<qscms:classify 列表名="city" 类型="QS_citycategory" 地区分类="$subsite_val['s_district']" 显示数目="100"/>
	<else/>
		<qscms:classify 列表名="city" 类型="QS_citycategory" 地区分类="$_GET['citycategory']" 显示数目="100"/>
	</if>
</head>
<body>
<include file="public:header" />
<!--搜索 -->
<div class="page_so">
	<div class="sobox">
		<div class="selecttype">
			<if condition="C('qscms_jobsearch_key_first_choice') eq 1">
				<div class="J_sli sli <if condition="$Think.get.search_type eq 'jobs' or $Think.get.search_type eq ''">select</if>" data-type="jobs">搜职位</div>
			<elseif condition="C('qscms_jobsearch_type') neq 0"/>
				<div class="J_sli sli <if condition="$Think.get.search_type eq 'full' or $Think.get.search_type eq ''">select</if>" data-type="full">全文</div>
			</if>
			<if condition="C('qscms_jobsearch_key_first_choice') eq 0 && C('qscms_jobsearch_type') eq 0">
				<div class="J_sli sli <if condition="$Think.get.search_type eq 'jobs' or $Think.get.search_type eq ''">select</if>" data-type="jobs">搜职位</div>
			</if>
			<div class="J_sli sli <if condition="$Think.get.search_type eq 'company'">select</if>" data-type="company">搜企业</div>
			<if condition="C('qscms_jobsearch_type') neq 0 && C('qscms_jobsearch_key_first_choice') eq 1">
				<div class="J_sli sli <if condition="$Think.get.search_type eq 'full'">select</if>" data-type="full">全文</div>
			</if>
			<div class="clear"></div>
		</div>
		<div class="inputbg">
			<div id="showSearchModal" title="" class="selecttype J_hoverbut" data-title="请选择地区" data-multiple="false" data-maxnum="0" data-width="520">选择地区</div>
			<form id="ajax_search_location" action="{:U('ajaxCommon/ajax_search_location',array('type'=>'QS_jobslist'))}" method="get">
				<div class="inoputbox">
					<input type="text" name="key" data-original="{$Think.get.key|urldecode|urldecode}" value="{$Think.get.key|urldecode|urldecode}" placeholder="请输入关键字" />
					<input type="hidden" name="search_type" value="{$Think.get.search_type}" />
					<input id="searchCityModalCode" type="hidden" name="citycategory" value="{$city['select']['citycategory']}" />
					<input id="recoverSearchCityModalCode" type="hidden" name="" value="" />
					<input type="hidden" name="jobcategory" value="{$Think.get.jobcategory}" />
					<input class="J_forclear" type="hidden" name="jobtag" value="{$Think.get.jobtag}" />
					<input class="J_forclear" type="hidden" name="wage" value="{$Think.get.wage}" />
	        		<input class="J_forclear" type="hidden" name="trade" value="{$Think.get.trade}" />
	        		<input class="J_forclear" type="hidden" name="scale" value="{$Think.get.scale}" />
	        		<input class="J_forclear" type="hidden" name="nature" value="{$Think.get.nature}" />
	        		<input class="J_forclear" type="hidden" name="education" value="{$Think.get.education}" />
	        		<input class="J_forclear" type="hidden" name="experience" value="{$Think.get.experience}" />
	        		<input class="J_forclear" type="hidden" name="settr" value="{$Think.get.settr}" />
                    <input type="hidden" name="lng" id="lng"  value="{$Think.get.lng}"/>
                    <input type="hidden" name="lat" id="lat"  value="{$Think.get.lat}"/>
				</div>
				<input type="submit" class="sobut J_hoverbut" value="搜索" />
			</form>
		</div>
  		<div class="righttxt">
            <div class="sr-map-left link_gray6"><a href="{:url_rewrite('QS_jobs')}">分类搜索</a></div>
            <div class="sr-map-right link_gray6">
                <span class="cur-map-pos" title=""></span>
                <a href="javascript:;" id="popupBox">地图找工作</a>
                <a class="map-clear" href="{:url_rewrite('QS_jobslist')}">清除</a>
            </div>
            <div class="clear"></div>
        </div>
		<div class="clear"></div>
	</div>
    <div class="hotword link_gray9 font_gray9 nowrap">
    	热门关键字：
    	<qscms:hotword 列表名="hotword_list" 显示数目="5"/>
    	<volist name="hotword_list" id="hotword">
			<if condition="C('qscms_key_urlencode') eq 1">
			<a href="{:url_rewrite('QS_jobslist',array('key'=>urlencode($hotword['w_word_code']),'search_type'=>$_GET['search_type']))}">{$hotword.w_word}</a>
			<else />
			<a href="{:url_rewrite('QS_jobslist',array('key'=>$hotword['w_word_code'],'search_type'=>$_GET['search_type']))}">{$hotword.w_word}</a>
			</if>
    	</volist>
    </div>
	<!--条件 -->
	<div class="so_condition_show">
		<div class="J_showbtn showbtn unfold none">打开筛选</div> 
		<div class="J_showbtn showbtn">收起筛选</div>
		<div class="clear"></div>
	</div>
</div>
<div class="so_condition J_so_condition">
	<qscms:classify 列表名="jobsCate" 类型="QS_jobs"/>
	<qscms:classify 列表名="jobs_cate_info" 类型="QS_jobs_info"/>
	<if condition="C('qscms_jobsearch_key_open_jobcategory') eq 1">
		<div class="lefttit">职位分类</div>
		<if condition="$Think.get.jobcategory eq '' or C('qscms_category_jobs_level') eq 2">
			<div class="rs">
				<div class="J_jobConditions">
					<div class="wli <empty name="Think.get.jobcategory">select</empty>"><a href="{:P(array('jobcategory'=>''))}">全部</a></div>
					<volist name="jobsCate[0]" id="scate">
						<volist name="jobsCate[$key]" id="cate">
							<div class="wli <eq name="cate['spell']" value="$Think.get.jobcategory">select</eq>"><a href="{:P(array('jobcategory'=>$cate['spell']))}">{$cate.categoryname}</a></div>
						</volist>
					</volist>
					<div class="clear"></div>
				</div>
			</div>
			<div class="more">
				<div class="J_showJobConditions mbtn close">收起</div>
				<div class="J_showJobConditions mbtn none">更多</div>
			</div>
		<else/>
			<div class="rs_classify">
				<div class="wli_y" onclick="window.location='{:P(array('jobcategory'=>''))}';">
					<notempty name="jobsCate[$jobs_cate_info['spell'][$_GET['jobcategory']]['id']]">
						{$jobs_cate_info['spell'][$_GET['jobcategory']]['categoryname']}
						<assign name="category" value="$jobs_cate_info['spell'][$_GET['jobcategory']]['id']"/>
					<else/>
						{$jobs_cate_info['id'][$jobs_cate_info['spell'][$_GET['jobcategory']]['parentid']]['categoryname']}
						<assign name="category" value="$jobs_cate_info['spell'][$_GET['jobcategory']]['parentid']"/>
					</notempty>
				</div>
				<div class="clear"></div>
		        <div class="showclassify">
					<div class="toparrow"></div>
					<div class="wli <eq name="jobs_cate_info['spell'][$_GET['jobcategory']]['id']" value="$category">select</eq>">
						<a href="{:P(array('jobcategory'=>$jobs_cate_info['id'][$category]['spell']))}">全部</a>
					</div>
					<volist name="jobsCate[$category]" id="cate">
						<div class="wli <eq name="cate['spell']" value="$Think.get.jobcategory">select</eq>">
							<a href="{:P(array('jobcategory'=>$cate['spell']))}">{$cate.categoryname}</a>
						</div>
					</volist>
					<div class="clear"></div>
				</div>
			</div>
		</if>
		<div class="clear"></div>
	</if>
	<if condition="$Think.get.citycategory neq ''">
		<notempty name="city['list']">
			<div class="lefttit">地标地段</div>
			<div class="rs">
				<div class="li <if condition="$city['parent']['id'] eq $city['select']['id']">select</if>"><a href="{:P(array('citycategory'=>$city['parent']['citycategory']))}">不限</a></div>
				<volist name="city['list']" id="district">
					<div class="li <if condition="$city['select']['id'] eq $key">select</if>"><a href="{:P(array('citycategory'=>$district['citycategory']))}">{$district['categoryname']}</a></div>
				</volist>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</notempty>
	</if>
	<div class="lefttit">职位薪资</div>
	<div class="rs">
		<qscms:classify 列表名="wage_list" 类型="QS_wage" 显示数目="100"/>
		<div class="li <if condition="$Think.get.wage eq ''">select</if>"><a href="{:P(array('wage'=>''))}">不限</a></div>
		<volist name="wage_list" id="wage">
			<div class="li <if condition="$Think.get.wage eq $key">select</if>"><a href="{:P(array('wage'=>$key))}">{$wage}</a></div>
		</volist>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<div class="lefttit">职位亮点</div>
	<div class="rs">
		<qscms:classify 列表名="tag_list" 类型="QS_jobtag" 显示数目="100"/>
		<div class="li <if condition="$Think.get.jobtag eq ''">select</if>"><a href="{:P(array('jobtag'=>''))}">不限</a></div>
		<volist name="tag_list" id="tag">
			<div class="li <if condition="$Think.get.jobtag eq $key">select</if>"><a href="{:P(array('jobtag'=>$key))}">{$tag}</a></div>
		</volist>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
  
	<div class="lefttit">更多筛选</div>
	<div class="rs">
		<div class="bli J_dropdown">
			<qscms:classify 列表名="trade_list" 类型="QS_trade" 显示数目="100"/>
			<span class="txt" title="{$trade_list[$_GET['trade']]|default='所属行业'}">{$trade_list[$_GET['trade']]|default='所属行业'}</span>
			<div class="dropdowbox2 J_dropdown_menu">
	            <div class="dropdow_inner2">
	                <ul class="nav_box">
	                	<volist name="trade_list" id="trade">
				            <li><a class="<if condition="$Think.get.trade eq $key">select</if>" href="{:P(array('trade'=>$key))}" data-code="{$key}">{$trade}</a></li>
						</volist>
						<div class="clear"></div>
	                </ul>
	            </div>
	        </div>
			<div class="clear"></div>
		</div>
		<div class="bli J_dropdown">
			<span>企业规模</span>
			<qscms:classify 列表名="scale_list" 类型="QS_scale" 显示数目="100"/>
			<div class="dropdowbox1 J_dropdown_menu">
	            <div class="dropdow_inner1">
	                <ul class="nav_box">
	                	<volist name="scale_list" id="scale">
				            <li><a class="<if condition="$Think.get.scale eq $key">select</if>" href="{:P(array('scale'=>$key))}" data-code="{$key}">{$scale}</a></li>
						</volist>
	                </ul>
	            </div>
	        </div>
	        <div class="clear"></div>
		</div>
		<div class="bli J_dropdown">
			<span>工作性质</span>
			<qscms:classify 列表名="nature_list" 类型="QS_jobs_nature" 显示数目="100"/>
			<div class="dropdowbox1 J_dropdown_menu">
	            <div class="dropdow_inner1">
	                <ul class="nav_box">
	                	<volist name="nature_list" id="nature">
				            <li><a class="<if condition="$Think.get.nature eq $key">select</if>" href="{:P(array('nature'=>$key))}" data-code="{$key}">{$nature}</a></li>
						</volist>
	                </ul>
	            </div>
	        </div>
			<div class="clear"></div>
		</div>
		<div class="bli J_dropdown">
			<span>学历要求</span>
			<qscms:classify 列表名="education_list" 类型="QS_education" 显示数目="100"/>
			<div class="dropdowbox1 J_dropdown_menu">
	            <div class="dropdow_inner1">
	                <ul class="nav_box">
	                	<volist name="education_list" id="education">
				            <li><a class="<if condition="$Think.get.education eq $key">select</if>" href="{:P(array('education'=>$key))}" data-code="{$key}">{$education}</a></li>
						</volist>
	                </ul>
	            </div>
	        </div>
			<div class="clear"></div>
		</div>
		<div class="bli J_dropdown">
			<span>工作经验</span>
			<qscms:classify 列表名="experience_list" 类型="QS_experience" 显示数目="100"/>
			<div class="dropdowbox1 J_dropdown_menu">
	            <div class="dropdow_inner1">
	                <ul class="nav_box">
	                	<volist name="experience_list" id="experience">
				            <li><a class="<if condition="$Think.get.experience eq $key">select</if>" href="{:P(array('experience'=>$key))}" data-code="{$key}">{$experience}</a></li>
						</volist>
	                </ul>
	            </div>
	        </div>
			<div class="clear"></div>
		</div>
		<div class="bli J_dropdown">
			<span>更新时间</span>
			<div class="dropdowbox1 J_dropdown_menu">
	            <div class="dropdow_inner1">
	                <ul class="nav_box">
	                	<li><a class="<if condition="$Think.get.settr eq 3">select</if>" href="{:P(array('settr'=>3))}" data-code="3">3天内</a></li>
	                	<li><a class="<if condition="$Think.get.settr eq 7">select</if>" href="{:P(array('settr'=>7))}" data-code="7">7天内</a></li>
	                	<li><a class="<if condition="$Think.get.settr eq 15">select</if>" href="{:P(array('settr'=>15))}" data-code="15">15天内</a></li>
	                	<li><a class="<if condition="$Think.get.settr eq 30">select</if>" href="{:P(array('settr'=>30))}" data-code="30">30天内</a></li>
	                </ul>
	            </div>
	        </div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>

	<!--已选条件，当没有条件的时候不显示下面的DIV -->
	<if condition="$_GET">
		<div class="selected J_selected">
			<div class="stit">已选条件</div>
		    <div class="sc">
		    	<notempty name="Think.get.key">
					<div class="slist" <if condition="$Think.get.sort eq 'score'">onclick="window.location='{:P(array('key'=>'','sort'=>''))}';"<else/>onclick="window.location='{:P(array('key'=>''))}';"</if>><span>关键字：</span>{$Think.get.key|urldecode|urldecode}</div>
		    	</notempty>
				<if condition="$Think.get.jobcategory neq ''">
					<div class="slist" onclick="window.location='{:P(array('jobcategory'=>''))}';">
						<span>职位分类：</span>
						{$jobs_cate_info['spell'][$_GET['jobcategory']]['categoryname']}
					</div>
				</if>
				<if condition="$Think.get.citycategory neq ''">
					<div class="slist" onclick="window.location='{:P(array('citycategory'=>''))}';">
						<span>地区类别：</span>
						{$city['select']['categoryname']}
					</div>
				</if>
				<if condition="$Think.get.trade neq ''">
					<div class="slist" onclick="window.location='{:P(array('trade'=>''))}';">
						<span>所属行业：</span>
						{$trade_list[$_GET['trade']]}
					</div>
				</if>
				<if condition="$Think.get.jobtag neq ''">
					<div class="slist" onclick="window.location='{:P(array('jobtag'=>''))}';"><span>职位亮点：</span>{$tag_list[$_GET['jobtag']]}</div>
				</if>
				<if condition="$Think.get.wage neq ''">
					<div class="slist" onclick="window.location='{:P(array('wage'=>''))}';"><span>职位薪资：</span>{$wage_list[$_GET['wage']]}</div>
				</if>
				<if condition="$Think.get.education neq ''">
					<div class="slist" onclick="window.location='{:P(array('education'=>''))}';"><span>学历要求：</span>{$education_list[$_GET['education']]}</div>
				</if>
				<if condition="$Think.get.experience neq ''">
					<div class="slist" onclick="window.location='{:P(array('experience'=>''))}';"><span>工作经验：</span>{$experience_list[$_GET['experience']]}</div>
				</if>
				<if condition="$Think.get.settr neq ''">
					<div class="slist" onclick="window.location='{:P(array('settr'=>''))}';">
						<span>更新时间：</span>
						<switch name="_GET['settr']">
							<case value="3">3天内</case>
							<case value="7">7天内</case>
							<case value="15">15天内</case>
							<case value="30">30天内</case>
						</switch>
					</div>
				</if>
				<if condition="$Think.get.nature neq ''">
					<div class="slist" onclick="window.location='{:P(array('nature'=>''))}';"><span>工作性质：</span>{$nature_list[$_GET['nature']]}</div>
				</if>
				<if condition="$Think.get.scale neq ''">
					<div class="slist" onclick="window.location='{:P(array('scale'=>''))}';"><span>企业规模：</span>{$scale_list[$_GET['scale']]}</div>
				</if>
				<div class="clear"></div>
			</div>
			<div class="sr">
				<div class="empty" onclick="window.location='{:url_rewrite('QS_jobslist')}';">清空</div>
			</div>
			<div class="clear"></div>
		</div>
	</if>
</div>
<qscms:jobs_list 列表名="jobslist" 搜索类型="$_GET['search_type']" 搜索内容="$_GET['search_cont']" 显示数目="20" 分页显示="1" 关键字="$_GET['key']" 职位分类="$_GET['jobcategory']" 地区分类="$_GET['citycategory']" 行业="$_GET['trade']" 日期范围="$_GET['settr']" 学历="$_GET['education']" 工作经验="$_GET['experience']" 工资="$_GET['wage']" 职位性质="$_GET['nature']" 标签="$_GET['jobtag']" 公司规模="$_GET['scale']" 营业执照="$_GET['license']" 过滤已投递="$_GET['deliver']" 排序="$_GET['sort']" 合并="$_COOKIE['com_list']" 描述长度="100" 紧急招聘="$_GET['emergency']" 经度="$_GET['lng']" 纬度="$_GET['lat']" 半径="$_GET['wa']"/>
<div class="plist">
	<div class="pl">	
		<div class="toptitle">
			<div class="ltype">
				<div class="typeli <if condition="$Think.get.search_cont eq ''">select</if>" onclick="window.location='{:P(array('search_cont'=>''))}';">所有职位</div>
				<div class="typeli <if condition="$Think.get.search_cont eq 'setmeal'">select</if>" onclick="window.location='{:P(array('search_cont'=>'setmeal'))}';">名企招聘</div>
				<if condition="C('apply.Sincerity')">
				<div class="typeli <if condition="$Think.get.search_cont eq 'famous'">select</if>" onclick="window.location='{:P(array('search_cont'=>'famous'))}';">诚聘通</div>
				</if>
				<div class="clear"></div>
			</div>
			<div class="ts">
		  		<div class="l1"></div>
					<div class="l2 <if condition="$Think.get.deliver eq 1">select</if>">
					<if condition="$visitor['utype'] eq 2">
						<div class="radio_group" <if condition="$Think.get.deliver eq 1">onclick="window.location='{:P(array('deliver'=>''))}'"<else/>onclick="window.location='{:P(array('deliver'=>1))}'"</if>>
							<div class="radiobox"></div>
							<div class="radiotxt">过滤已投递</div>
							<div class="clear"></div>
						</div>
					</if>
			  </div>			
				<div class="l2 <if condition="$Think.get.license eq 1">select</if>">
					<div class="radio_group" <if condition="$Think.get.license eq 1">onclick="window.location='{:P(array('license'=>''))}';"<else/>onclick="window.location='{:P(array('license'=>1))}';"</if>>
						<div class="radiobox"></div>
						<div class="radiotxt">营业执照已认证</div>
						<div class="clear"></div>
					</div>
				</div>
		
				<div class="J_detailList l3 <if condition="$Think.cookie.jobs_show_type eq ''">select</if>" title="切换到详细列表"></div>
				<div class="J_detailList l4 <if condition="$Think.cookie.jobs_show_type eq 1">select</if>" title="切换到简易列表" show_type="1"></div>
				<div class="l5">
					<if condition="$jobslist['page_params']['nowPage'] gt 1">
				  		<div class="prev" title="上一页" onclick="window.location='{:P(array('p'=>$jobslist['page_params']['nowPage']-1))}';"><</div>
				  	</if>
				  	<if condition="$jobslist['page_params']['nowPage'] lt $jobslist['page_params']['totalPages']">
						<div class="next"  title="下一页" onclick="window.location='{:P(array('p'=>$jobslist['page_params']['nowPage']+1))}';">></div>
					</if>
					<if condition="$jobslist['page_params']['totalRows'] gt 0">
						<span>{$jobslist.page_params.nowPage}</span>/{$jobslist.page_params.totalPages}页
					</if>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="sort">
				<div class="sl1">排序方式：</div>
				<if condition="C('qscms_jobsearch_type') neq 0 and $Think.get.search_type eq 'full' and $Think.get.key neq ''">
					<a class="sl2 <if condition="$Think.get.sort eq 'score' or ($Think.get.sort eq '' and C('qscms_fulltext_orderby') eq 1)">select</if>" href="{:P(array('sort'=>'score'))}">相关度</a>
				<else/>
					<a class="sl2 <if condition="$Think.get.sort eq ''">select</if>" href="{:P(array('sort'=>''))}">综合排序</a>
				</if>
				<a class="sl2 <if condition="$Think.get.sort eq 'rtime' or ($Think.get.sort eq '' and C('qscms_jobsearch_type') neq 0 and $Think.get.search_type eq 'full' and C('qscms_fulltext_orderby') eq 0)">select</if>" href="{:P(array('sort'=>'rtime'))}">更新时间</a>
				<div class="clear"></div>
			</div>
		</div>
		<!--列表 -->
		<div class="listb J_allListBox">
			<notempty name="jobslist['list']">
				<volist name="jobslist['list']" id="jobs">
					<div class="J_jobsList yli" data-jid="{$jobs.id}">
						<div class="td1"><div class="J_allList radiobox"></div></div>
						<div class="td2 link_blue link_visited"><a class="line_substring" href="{$jobs.jobs_url}" target="_blank">{$jobs.jobs_name}</a><if condition="$jobs['emergency'] eq 1">&nbsp;<img src="../public/images/emergency.png"></if></div>
						<div class="td3 link_gray6">
							<a class="line_substring" href="{$jobs.company_url}" target="_blank">{$jobs.companyname}</a>
							<if condition="$jobs['company_audit'] eq 1"><img src="{:attach('auth.png','resource')}" title="认证企业"></if>
							<if condition="$jobs['setmeal_id'] gt 1"><img src="{:attach($jobs['setmeal_id'].'.png','setmeal_img')}" title="{$jobs.setmeal_name}"></if>
							<if condition="$jobs['famous'] eq 1">
								<img src="<if condition="C('qscms_famous_company_img') eq ''">{:attach('famous.png','resource')}<else/>{:attach(C('qscms_famous_company_img'),'images')}</if>" title="诚聘通企业"/>
							</if>
							<div class="clear"></div>
						</div>
						<div class="td4">{$jobs.wage_cn}</div>
						<div class="td5"><if condition="$jobs['stick'] eq 1 && (($_GET['search_type'] eq 'jobs' or $_GET['search_type'] eq 'company' or $_GET['key'] eq '') && !$_GET['sort'])"><img src="../public/images/stick.png"><else />{$jobs['refreshtime_cn']}</if></div>
						<div class="td6"><div class="J_jobsStatus hide <if condition="$Think.cookie.jobs_show_type eq 1">show</if>"></div> </div>
						<div class="clear"></div>
						<div class="detail" <if condition="$Think.cookie.jobs_show_type eq 1">style="display:none"</if>>
						  	<div class="ltx">
								<div class="txt font_gray6">学历：{$jobs.education_cn}<span>|</span>经验：{$jobs.experience_cn}<span>|</span>职位性质：{$jobs.nature_cn}<span>|</span>人数：{$jobs.amount}人<span>|</span>地点：{$jobs.district_cn}</div>
								<div class="dlabs">
									<empty name="jobs['tag_cn']">
										{$jobs.briefly}
									<else/>
										<volist name="jobs['tag_cn']" id="tag">
											<div class="dl">{$tag}</div>
										</volist>
									</empty>
									<div class="clear"></div>
								</div>
						  	</div>
							<div class="rbtn <if condition="$Think.get.lng neq ''">map-btn</if>">
							  	<div class="deliver J_applyForJob" data-batch="false" data-url="{:U('AjaxPersonal/resume_apply')}"><if condition="in_array($jobs['id'],$jobslist['has_apply'])">已投递<else />投递简历</if></div>
                                <if condition="$Think.get.lng neq ''">
                                    <div class="favorites <if condition="in_array($jobs['id'],$jobslist['has_favor'])">has-favor</if> J_collectForJob" data-batch="false" data-url="{:U('AjaxPersonal/jobs_favorites')}"></div>
                                <else/>
                                    <div class="favorites <if condition="in_array($jobs['id'],$jobslist['has_favor'])">has-favor</if> J_collectForJob" data-batch="false" data-url="{:U('AjaxPersonal/jobs_favorites')}"><if condition="in_array($jobs['id'],$jobslist['has_favor'])">已收藏<else />收藏</if></div>
                                </if>
                                <div class="map-area">{$jobs.map_range}</div>
                            </div>
							<div class="clear"></div>
						</div>
					</div>
				</volist>
				<!--投递按钮 -->
				<div class="listbtn">
					<div class="td1"><div class="radiobox J_allSelected"></div></div>
					<div class="td2">
						<div class="lbts J_applyForJob" data-batch="true" data-url="{:U('AjaxPersonal/resume_apply')}">申请职位</div>
						<div class="lbts J_collectForJob" data-batch="true" data-url="{:U('AjaxPersonal/jobs_favorites')}">收藏职位</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="qspage">{$jobslist.page}</div>
			<else />
				<div class="list_empty_group">
					<div class="list_empty">
						<div class="list_empty_left"></div>
						<div class="list_empty_right">
							<div class="sorry_box">对不起，没有找到符合您条件的职位！</div>
							<div class="stips_box">放宽您的查找条件也许有更多合适您的职位哦~</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</notempty>
		</div>
		<if condition="$Think.get.citycategory neq ''">
			<div class="bot_info link_gray6">
				<div class="topnavbg">
					<div class="topnav">
						<if condition="$_GET['key'] neq '' or $_GET['jobcategory'] neq ''">
							<div class="tl J_job_hotnear select">周边职位</div>
						</if>
						<div class="tl J_job_hotnear">热门职位</div>
						<div class="clear"></div>
					</div>
				</div>
				<if condition="$_GET['key'] neq ''">
					<div class="showbotinfo J_job_hotnear_show show">
			        	<volist name="city['list']" id="district" offset="0" length="21">
			        		<div class="ili"><a href="{:P(array('citycategory'=>$district['citycategory'],'key'=>$_GET['key']))}" target="_blank">{$district.categoryname}{$Think.get.key|urldecode|urldecode}</a></div>
						</volist>
						<div class="clear"></div>
					</div>
				<elseif condition="$_GET['jobcategory'] neq ''"/>
					<div class="showbotinfo J_job_hotnear_show show">
			        	<volist name="city['list']" id="district" offset="0" length="21">
			        		<div class="ili"><a href="{:P(array('citycategory'=>$district['citycategory'],'jobcategory'=>$_GET['jobcategory']))}" target="_blank">{$district.categoryname}{$jobs_cate_info[$_GET['jobcategory']]['categoryname']}</a></div>
						</volist>
						<div class="clear"></div>
					</div>
				</if>
				<div class="showbotinfo J_job_hotnear_show <if condition="$_GET['key'] eq '' and $_GET['jobcategory'] eq ''">show</if>">
					<qscms:hotword 列表名="hotword_list" 显示数目="22"/>
					<volist name="hotword_list" id="hotword">
						<if condition="C('qscms_key_urlencode') eq 1">
						<div class="ili"><a href="{:P(array('citycategory'=>$city['select']['citycategory'],'key'=>urlencode($hotword['w_word_code'])))}" target="_blank">{$city['select']['categoryname']}{$hotword.w_word}</a></div>
						<else />
						<div class="ili"><a href="{:P(array('citycategory'=>$city['select']['citycategory'],'key'=>$hotword['w_word_code']))}" target="_blank">{$city['select']['categoryname']}{$hotword.w_word}</a></div>
						</if>
					</volist>
					<div class="clear"></div>
				</div>
			</div>
		</if>
	</div>
	<div class="pr">
		<qscms:ad 列表名="ad" 广告位名称="QS_jobs_list_right" 广告数量="1"/>
		<notempty name="ad['list']">
			<div class="ad230_175">
				<volist name="ad['list']" id="ad_info">
					{$ad_info.html}
				</volist>
			</div>
		</notempty>
		<div class="lisbox">
			<div class="t">推荐职位</div>
			<if condition="$a eq 'a'">
				<qscms:jobs_list 列表名="recommend_jobs" 排序="rtime" 显示数目="5"/>
			<else/>
				<qscms:jobs_list 列表名="recommend_jobs" 显示数目="5" 关键字="$_GET['key']" 职位分类="$_GET['jobcategory']" 推荐="1"/>
				<empty name="recommend_jobs['list']">
					<qscms:jobs_list 列表名="recommend_jobs" 排序="hot" 显示数目="5"/>
				</empty>
			</if>
			<empty name="recommend_jobs['list']">
				<div class="empty">暂无相关职位</div>
			<else/>
				<volist name="recommend_jobs['list']" id="jobs">
					<div class="yl">
						<div class="pic"><a href="{$jobs.company_url}"><img src="{$jobs['logo']}" border="0"/></a></div>
						<div class="txts link_gray6">
						<div class="t1 substring"><a href="{$jobs.jobs_url}">{$jobs.jobs_name}</a></div>
						<div class="t2 substring"><a href="{$jobs.company_url}">{$jobs.companyname}</a></div>
						{$jobs.wage_cn}
						</div>
						<div class="clear"></div>
					</div>
				</volist>
			</empty>
		</div>
		<!--紧急招聘 -->
		<div class="lisbox link_gray6">
			<div class="t">紧急招聘</div>
				<qscms:jobs_list 列表名="emergency_jobs" 紧急招聘="1" 显示数目="5"/>
				<empty name="emergency_jobs['list']">
					<div class="empty">暂无相关职位</div>
				<else/>
					<volist name="emergency_jobs['list']" id="jobs">
						<div class="eyl">
							<div class="jname substring"><a href="{$jobs.jobs_url}">{$jobs.jobs_name}</a></div>
							<div class="city substring">{$jobs.wage_cn}</div>
							<div class="clear"></div>
							<div class="etxt substring"><a href="{$jobs.company_url}">{$jobs.companyname}</a></div>
							<div class="etxt substring">{$jobs.district_cn}</div>
						</div>
					</volist>
				</empty>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<if condition="$apply['Subsite'] and $subsite_val['s_id'] gt 0">
    <input type="hidden" class="map-lng" value="<if condition="$Think.get.lng eq ''">{$subsite_val.s_map_center_x|default=C('qscms_map_center_x')}<else/>{$Think.get.lng}</if>">
    <input type="hidden" class="map-lat" value="<if condition="$Think.get.lat eq ''">{$subsite_val.s_map_center_y|default=C('qscms_map_center_y')}<else/>{$Think.get.lat}</if>">
<else/>
    <input type="hidden" class="map-lng" value="<if condition="$Think.get.lng eq ''">{:C('qscms_map_center_x')}<else/>{$Think.get.lng}</if>">
    <input type="hidden" class="map-lat" value="<if condition="$Think.get.lat eq ''">{:C('qscms_map_center_y')}<else/>{$Think.get.lat}</if>">
</if>
<include file="public:footer" />
<div id="mapShowC" style="display: none"></div>
<script type="text/javascript" src="../public/js/jquery.jobslist.js"></script>
<script type="text/javascript" src="../public/js/jquery.modal.dialog.js"></script>
<script type="text/javascript" src="../public/js/jquery.modal.search.js"></script>
<script type="text/javascript" src="../public/js/jquery.dropdown.js"></script>
<script type="text/javascript" src="../public/js/jquery.listitem.js"></script>
<script type="text/javascript" src="../public/js/jquery.highlight-3.js"></script>
<script src="http://static.geetest.com/static/tools/gt.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=<if condition="C('SUBSITE_VAL.s_id') gt 0 and $subsite_val['s_map_ak']">{$subsite_val.s_map_ak}<else/>{:C('qscms_map_ak')}</if>"></script>
<script type="text/javascript" src="../public/js/jquery.mapjob.js"></script>
<script type="text/javascript">
	var city_select = {:json_encode($city['select'])};
	var city_parent = {:json_encode($city['parent'])};
	if (city_parent) {
		if (app_spell) {
			$('#showSearchModal').text(city_parent['categoryname']);
			$('#recoverSearchCityModalCode').val(city_parent['spell']);
		} else {
			$('#showSearchModal').text(city_parent['categoryname']);
			$('#recoverSearchCityModalCode').val(city_parent['citycategory']);
		}
	} else if(city_select) {
		if (app_spell) {
			$('#showSearchModal').text(city_select['categoryname']);
			$('#recoverSearchCityModalCode').val(city_select['spell']);
		} else {
			$('#showSearchModal').text(city_select['categoryname']);
			$('#recoverSearchCityModalCode').val(city_select['citycategory']);
		}
	}
	
	
	if ($('.J_selected .slist').length) {
		$('.J_selected').show();
	}

	$('.J_jobConditions .wli').each(function(index, el) {
		if (index > 6) {
			$(this).addClass('for_up');
		};
	});

	// 关键字高亮
	var keyWords = $('input[name="key"]').val();
	if (keyWords.length) {
		$('.J_jobsList').highlight(keyWords);
	}
    var qsMapUrl = "{:url_rewrite('QS_jobslist',array('lng'=>'lngVal','lat'=>'latVal','wa'=>3000))}";
	var isMapSearch = "{$Think.get.lng}";
	if (isMapSearch.length) {
        var map = new BMap.Map("mapShowC");
        map.enableScrollWheelZoom();
        map.addControl(new BMap.NavigationControl());
        var point = new BMap.Point($('#lng').val(),$('#lat').val());
        map.centerAndZoom(point, 15);
        var myGeo = new BMap.Geocoder();
        var position;
        function geocodeSearch(pt){
            myGeo.getLocation(pt, function(rs){
                var addComp = rs.addressComponents;
                // 街道、区、市逐层向上找
                if (addComp.street.length) {
                    position = addComp.street;
                } else if (addComp.district.length) {
                    position = addComp.district;
                } else {
                    position = addComp.city;
                }
                var thisMapText =  '';
                if (position.length > 4) {
                    thisMapText = position.substring(0,4) + "...";
                } else {
                    thisMapText = position;
                }
                $('.sr-map-right').addClass('link_yellow');
                $('.cur-map-pos').text('位置：' + thisMapText).attr('title', position).show();
                $('#popupBox').text('修改');
                $('.sr-map-right .map-clear').show();
                $('#mapShowC').remove();
            });
        }
        geocodeSearch(point);
    }
</script>
</body>
</html>