<include file="public:header" />
    <div class="toptip">
		<h2>提示：</h2>
		<p>点击“继续添加”按钮，可同时添加多个分类！<br /></p>
	</div>
	<div class="toptit">修改属性分类</div>
	<form id="form1" name="form1" method="post" action="{:U('notice/edit_category')}">
		<div id="html_tpl">
			<table width="100%" border="0" cellspacing="6" cellpadding="0" style="border-bottom:1px #96B7E2 dashed">
				<tr>
					<td width="120" align="right">分类名称:</td>
					<td><input name="categoryname" type="text" class="input_text_200"  value="{$info.categoryname}" maxlength=""/></td>
				</tr>
				<tr>
					<td width="120" align="right">排序:</td>
					<td><input name="sort" type="text" class="input_text_200"  value="{$info.sort}" maxlength=""/></td>
				</tr>
			</table>
		</div>
		<table width="100%" border="0" cellspacing="6" cellpadding="0">
			<tr>
				<td width="120"> </td>
				<td>
					<input name="id" type="hidden" value="{$info.id}" />
					<input type="submit" value="保存" class="admin_submit" />
					<input name="submit22" type="button" class="admin_submit"    value="返 回" onclick="window.location='{:U('notice/category')}'"/>
				</td>
			</tr>
		</table>
	</form>
</div>
<include file="public:footer" />
</body>
</html>