<include file="public:header" />
    <div class="toptip">
        <h2>提示：</h2>
		<p>
		如果是本站的网址，可缩写为与根目录相对地址，如 index.php<br />
		其他情况都应该输入完整的网址，如：http://www.74cms.com/bbs；
		</p>
    </div>
    <div class="toptit">新增导航栏</div>
	<form action="{:U('navigation/add')}" method="post" enctype="multipart/form-data"  name="FormData" id="FormData" >
		<table border="0" cellspacing="5" cellpadding="1" >
		<tr>
            <td width="100" align="right">类型：</td>
            <td>
			<label><input name="urltype" type="radio" value="0" checked="checked"    />系统内容</label>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<label><input name="urltype" type="radio" value="1"    />其他链接</label>
			</td>
		</tr>
          <tr>
            <td width="100" align="right">栏目名称(必填)：</td>
            <td><input name="title" type="text"  class="input_text_200" id="title" value="" maxlength="30"/></td>
          </tr>
          <tr class="http" style=" display:none">
            <td align="right">链接地址：</td>
            <td><input name="url" type="text"  class="input_text_200" id="url" value="" maxlength="180"/>
     </td>
          </tr>
		  <tr class="sys">
            <td align="right">系统页面：</td>
            <td>
			<select name="systemalias" style="width:205px; font-size:12px;"  onchange="selChangesystemalias(this.value)">
        <volist name="page_list" id="page">
          <option value="{$key},{$page.tag}">{$page.pname}</option>
        </volist>
      </select>
			  
			</td>
          </tr>
		   <tr class="sys">
            <td align="right">系统页面ID：</td>
            <td><input name="pagealias" type="text" value="" class="input_text_200" /></td>
          </tr>
		  <tr class="sys">
            <td align="right">分类ID：</td>
            <td><input name="list_id" type="text" value="" class="input_text_200" /> 如该栏目为信息列表页则需要填写分类ID</td>
          </tr>
		  <tr >
            <td align="right">类别：</td>
            <td>
			 <volist name="categroy" id="categroy">
			<label>
              <input name="alias" type="radio" value="{$key}" <if condition="$i eq 1"> checked="checked" </if>/>
              {$categroy}</label>
              &nbsp;&nbsp;&nbsp;&nbsp;
           </volist>
			</td>
          </tr>
          <tr>
            <td align="right">打开方式：</td>
            <td><label>
              <input name="target" type="radio" value="_blank" checked="checked" />
              新窗口</label>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <label>
                <input name="target" type="radio" value="_self">
                当前窗口</label></td>
          </tr>
          <tr>
            <td align="right">显示顺序：</td>
            <td><input name="navigationorder" type="text"  class="input_text_200" id="navigationorder" value="0" maxlength="3"  />            </td>
          </tr>
          <tr>
            <td align="right">是否显示：</td>
            <td><label>
              <input name="display" type="radio" value="1"  checked="checked" />
              显示</label>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <label>
                <input name="display" type="radio" value="0">
                隐藏</label>            </td>
          </tr>
		       <tr>
            <td align="right">显示颜色：</td>
            <td>
			<div class="color_layer">	
			 <input type="text" name="color" id="tit_color" style="display:none">
	<div id="color_box" onclick="color_box_display()" ></div>
	<include file="public:select_color" />
	</div>
			</td>
          </tr>
		  <tr>
            <td align="right">导航关联标记：</td>
            <td>
 <input name="tag" type="text"  class="input_text_200" id="tag" value="" maxlength="30"/>
			</td>
          </tr>
          <tr>
            <td align="right">&nbsp;</td>
            <td height="80">
			<input type="submit" name="Submit3" value="确定提交" class="admin_submit"   />
<input name="submit222" type="button" class="admin_submit"    value="返 回" onclick="window.location='{:U('navigation/index')}'"/></td>
          </tr>
        </table>
	</form>
</div>
<include file="public:footer" />
<script type="text/javascript">
$(document).ready(function()
{
 
	$(":radio[name='urltype']").click(function(){
	if ($(":radio[name='urltype'][checked]").val()=="0")
	{
		$(".sys").show();
		$(".http").hide();
	}
	else
	{
		$(".sys").hide();
		$(".http").show();
	}
 
	})
})
</script>
<script>
function selChangesystemalias(obj)
{
var str=obj.split(",");
$('input[name="pagealias"]').val(str[0]);
$('input[name="tag"]').val(str[1]);
}
selChangesystemalias($('select[name="systemalias"] option:first').attr('value'));
//////-----
</script>
</body>
</html>